{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/code">
<div class="column is-4 is-offset-4">
    <h3 class="title">Введите авторизационный код</h3>
    <div class="box">
        <form method="POST" action="/Email">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="code" name="code" placeholder="Your Code" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}